<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Eventos</title>
    <link rel="stylesheet" href="/public/css/eventos.css">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.12/sweetalert2.min.css">

</head>
<body>
    <header>
        <div class="header-main">
            <div class="logo">logo</div>
            <div class="title-section">
                <h1>Misioneros del</h1>
                <p>Espíritu Santo</p>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/">Eventos</a></li>
                    <li><a href="/">Nosotros</a></li>
                    <li><a href="/">Contacto</a></li>
                    <li><a href="/admin-menu">Admin</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <br><br>
    <h1>Agrega  un nuevo Evento</h1>
    <br>

    <form id="eventoForm">
        <input type="text" id="nombreEvento" name="nombreEvento" placeholder="Nombre del evento" required>
        <input type="text" id="descripcion" name="descripcion" placeholder="Descripción">
        <input type="date" id="fecha" name="fecha" required>
        <input type="time" id="hora" name="hora" required>
        <input type="text" id="lugar" name="lugar" placeholder="Lugar" required>
        <input type="number" id="edadMinima" name="edadMinima" placeholder="Edad mínima" required>
        <input type="number" id="edadMaxima" name="edadMaxima" placeholder="Edad máxima" required>
        <input type="file" id="imagen" name="imagen" accept="image/*" required>
        <button type="submit">Agregar Evento</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.12/sweetalert2.all.min.js"></script>
    <script src="/public/js/eventos.js"></script>
</body>
</html>
