<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Misioneros</title>
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.12/sweetalert2.min.css">
    <link rel="stylesheet" href="../public/css/login.css">
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <div id="login-container">
        <h2>Iniciar Sesión</h2>
        <input type="email" id="correo" placeholder="Correo">
        <input type="password" id="contrasena" placeholder="Contraseña">
        <button id="login-btn">Entrar</button>
        <a href="/" class="home-button">
            <button>Volver al inicio</button>
        </a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.12/sweetalert2.all.min.js"></script>
    <script src="../public/js/login.js"></script>
</body>
</html>
