<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - CECAF</title>
    <link rel="icon" type="image/x-icon" href="/public/img/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.12/sweetalert2.min.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
    <div id="login-container">
        <div class="login-header">
            <h2>CECAF</h2>
            <p>Bienvenido de vuelta</p>
        </div>
        
        <form id="login-form">
            <div class="input-group email">
                <input type="email" id="correo" placeholder="Correo electrónico" required>
            </div>
            
            <div class="input-group password">
                <input type="password" id="contrasena" placeholder="Contraseña" required>
            </div>
            
            <div class="button-group">
                <button type="submit" id="login-btn">
                    Iniciar Sesión
                </button>
                
                <a href="/" class="home-button">
                    <button type="button">Volver al inicio</button>
                </a>
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert2/11.7.12/sweetalert2.all.min.js"></script>
    <script src="/public/js/login.js"></script>
    <script src="/public/js/estilosLogin.js"></script>
</body>
</html>