<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Misioneros</title>
    <link rel="stylesheet" href="../public/css/login.css">
</head>
<body>
    <div id="login-container">
        <h2>Iniciar Sesión</h2>
        <input type="email" id="correo" placeholder="Correo">
        <input type="password" id="contrasena" placeholder="Contraseña">
        <button id="login-btn">Entrar</button>
    </div>
    <script src="../public/js/login.js"></script>
</body>
</html>
